<div class="container w-50">
  <div class="d-flex justify-content-between">
    <h1>Blogs</h1>
    <div class="m-auto me-0"><%= link_to "New blog", new_blog_path, class: "btn btn-primary rounded-1" %></div>
  </div>

  <div id="blogs">
    <% @blogs.each do |blog| %>
      <%= render blog %>
    <% end %>
  </div>
</div>
