<div class="container w-50">
  <%= form_with(model: @comment, url: blog_post_comments_path(@blog, @post), method: :post) do |form| %>
    <div class="form-group">
      <%= form.text_area :content, class: 'form-control', placeholder: 'Write a comment...' %>
    </div>
    <%= form.submit 'Add Comment', class: 'btn btn-primary rounded-1 mt-3' %>
  <% end %>
</div>
